footer {
  text-align: center;
  p {
    color: $white;
    padding: 10px 0;
  }
}

// Main footer color
.footer-main {
  background-color: $darkBlue;
}


// Change to red when results displayed
.footer-flip {
  background-color: $red;
}



