//Intro Section Styling
section:first-of-type {
  padding: 50px 0;
}

.intro, .result-display, .questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 300px;
}

.intro, .result-display {
  padding: 20px 0;
  img {
    width: 33%;
    border-radius: 50%;
  }
}

.intro img {
  border-radius: 50%;
  box-shadow: 0px 0px 0px 10px $red;
  transition: .8s;
  &:hover {
    box-shadow: 20px 20px 0px 40px $red;
  }
}

.explanation {
  width: 50%;
}

.questions {
  flex-direction: row-reverse;
  padding: 30px 0;
}

.red-bg {
  flex-direction: row;
  color: $white;
}

// span to change option selected text color
.impact-text {
  transition: .3s ease;
}
.question-content {
  width: 50%;
}

.question-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  img {
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px $red;
    transition: .8s;
    &:hover {
      box-shadow: 20px 20px 0px 40px $red;
    }
  }
}

.red-bg .question-image img{
  box-shadow: 0px 0px 0px 10px $white;
  &:hover {
    box-shadow: -20px 20px 0px 40px $white;
  }
}

input[type="radio"]:checked + label .impact-text {
  font-weight: 700;
  color: $red;
}

input[type="radio"]:checked + label::before {
  color: $red;
  content: "\f058";
}

.red-bg {
  input[type="radio"]:checked + label .impact-text {
    color: $darkBlue;
  }
  input[type="radio"]:checked + label::before {
    color: $darkBlue;
  }
}

// anchor and button styling in red background fieldsets
.red-bg a,
.red-bg button {
  border: 3px solid $white;
  background: none;
  color: $red;
  z-index: 5;
  &:hover,
  &:focus {
    color: $white;
    &::before {
      height: 0%;
    }
  }
  &::before {
    background-color: $white;
  }
}

//Question Styling
ul {
  list-style: none;
  padding: 50px 0;
  li {
    margin-bottom: 3%;
  }
  li:nth-of-type(4) {
    margin-bottom: 0;
  }
}

//Results Styling
.results {
  background-color: $darkBlue;
  color: $white;
  h3 {
    text-align: center;
    span {
      text-transform: capitalize;
    }
    &::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80px;
    padding-bottom: 10px;
    border-bottom: 3px solid $red;
    }
  }
}

.result-display {
  padding: 50px 0;
  img {
    transition: .8s;
    box-shadow: 0px 0px 0px 10px $white;
    &:hover {
      box-shadow: 20px 20px 0px 40px $white;
    }
  }
}

.location-links {
  color: $red;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  height: 100%;
  display: inline;
  position: relative;
  &:hover:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $red;
    bottom: 0;
    left: 0;
  }
  &:hover {
    background: none;
    border: none;
    color: $white;
  }
}

.blue-bg a {
  border: 3px solid $white;
  background: none;
  color: $darkBlue;
  z-index: 5;
  &:hover,
  &:focus {
    color: $white;
    &::before {
      height: 0%;
    }
  }
  &::before {
    background-color: $white;
  }
}

.redo-quiz {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}


