//Intro Section Styling
.intro, .result-display {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  img {
    width: 33%;
    border-radius: 20px;
  }
}

.explanation {
  width: 50%;
}

// .red-bg {
//   background-color: $red;
// }

.questions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
  &.reverse {
    flex-direction: row-reverse;
  }
}

.questions .question-image {
  width: 33%;
}

.questions .question-content {
  width: 50%;
}

//Question Styling
ul {
  list-style: none;
  padding: 50px 0;
  li {
    margin-bottom: 3%;
  }
  li:nth-of-type(4) {
    margin-bottom: 0;
  }
}

.impact-text {
  transition: .3s ease;
}

input[type="radio"]:checked + label .impact-text {
  font-weight: 700;
  color: $red;
}

input[type="radio"]:checked + label::before {
  color: $red;
  content: "\f058";
}

//Results Styling
.results {
  background-color: $darkBlue;
  color: $white;
  h3 {
    @include fontStyling(4rem, 600);
    padding: 20px 0;
    text-align: center;
    &::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80px;
    padding-bottom: 10px;
    border-bottom: 3px solid $red;
    }
  }
}


