//Color Variables
$white: #fff;
$lightBlue: #8da6bc;
$darkBlue: #151e25;
$red: #b73a1c;
$black: #140f0b;

@mixin fontStyling($sizeValue, $weightValue: 400) {
  font-size: $sizeValue;
  font-weight: $weightValue;
}