html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Cairo', sans-serif;
}

body {
  font-size: 16px;
  color: #151e25;
  background-color: #fff;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

img {
  margin: 0;
  width: 100%;
  height: auto;
}

h1 {
  font-size: 12rem;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px #140f0b;
  position: relative;
  z-index: 10;
}

h2 {
  font-size: 5rem;
  font-weight: 600;
  padding: 20px 0;
}

h2:after {
  content: "";
  display: block;
  width: 200px;
  padding-bottom: 10px;
  border-bottom: 5px solid #b73a1c;
}

h3 {
  font-size: 4rem;
  font-weight: 600;
  padding: 20px 0;
}

p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  padding-bottom: 20px;
}

button {
  background-color: unset;
  cursor: pointer;
  font-family: 'Cairo', sans-serif;
  font-weight: 400;
}

a,
button {
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  padding: 15px 30px;
  margin: 20px 0;
  background: none;
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  border: 3px solid #b73a1c;
  -webkit-transition: .8s;
  transition: .8s;
  overflow: hidden;
  position: relative;
}

a::before,
button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 180%;
  background-color: #b73a1c;
  z-index: -1;
  -webkit-transition: .8s;
  transition: .8s;
  border-radius: 0 0 50% 50%;
}

a:hover, a:focus,
button:hover,
button:focus {
  color: #b73a1c;
  background-color: #fff;
  border: 3px solid #b73a1c;
}

a:hover::before, a:focus::before,
button:hover::before,
button:focus::before {
  height: 0%;
}

fieldset {
  padding: 50px 0;
  border-style: none;
}

fieldset:nth-child(odd) {
  background-color: #b73a1c;
}

label {
  font-size: 2rem;
  font-weight: 400;
  padding-left: 15px;
  cursor: pointer;
}

label::before {
  content: "\f6a1";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  position: relative;
  left: -15px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.9))), url(../assets/torii.jpg);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 0.9)), url(../assets/torii.jpg);
  background-position: bottom;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  -webkit-animation: floating calc(3s * var(--i)) linear infinite;
          animation: floating calc(3s * var(--i)) linear infinite;
}

@-webkit-keyframes floating {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

@keyframes floating {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25%, 75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3);
  }
}

section:first-of-type {
  padding: 50px 0;
}

.intro, .result-display, .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
}

.intro, .result-display {
  padding: 20px 0;
}

.intro img, .result-display img {
  width: 33%;
  border-radius: 50%;
}

.intro img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 10px #b73a1c;
          box-shadow: 0px 0px 0px 10px #b73a1c;
  -webkit-transition: .8s;
  transition: .8s;
}

.intro img:hover {
  -webkit-box-shadow: 20px 20px 0px 40px #b73a1c;
          box-shadow: 20px 20px 0px 40px #b73a1c;
}

.explanation {
  width: 50%;
}

.questions {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 30px 0;
}

.red-bg {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
}

.impact-text {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.question-content {
  width: 50%;
}

.question-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.question-image img {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 0px 10px #b73a1c;
          box-shadow: 0px 0px 0px 10px #b73a1c;
  -webkit-transition: .8s;
  transition: .8s;
}

.question-image img:hover {
  -webkit-box-shadow: 20px 20px 0px 40px #b73a1c;
          box-shadow: 20px 20px 0px 40px #b73a1c;
}

.red-bg .question-image img {
  -webkit-box-shadow: 0px 0px 0px 10px #fff;
          box-shadow: 0px 0px 0px 10px #fff;
}

.red-bg .question-image img:hover {
  -webkit-box-shadow: -20px 20px 0px 40px #fff;
          box-shadow: -20px 20px 0px 40px #fff;
}

input[type="radio"]:checked + label .impact-text {
  font-weight: 700;
  color: #b73a1c;
}

input[type="radio"]:checked + label::before {
  color: #b73a1c;
  content: "\f058";
}

.red-bg input[type="radio"]:checked + label .impact-text {
  color: #151e25;
}

.red-bg input[type="radio"]:checked + label::before {
  color: #151e25;
}

.red-bg a,
.red-bg button {
  border: 3px solid #fff;
  background: none;
  color: #b73a1c;
  z-index: 5;
}

.red-bg a:hover, .red-bg a:focus,
.red-bg button:hover,
.red-bg button:focus {
  color: #fff;
}

.red-bg a:hover::before, .red-bg a:focus::before,
.red-bg button:hover::before,
.red-bg button:focus::before {
  height: 0%;
}

.red-bg a::before,
.red-bg button::before {
  background-color: #fff;
}

ul {
  list-style: none;
  padding: 50px 0;
}

ul li {
  margin-bottom: 3%;
}

ul li:nth-of-type(4) {
  margin-bottom: 0;
}

.results {
  background-color: #151e25;
  color: #fff;
}

.results h3 {
  text-align: center;
}

.results h3 span {
  text-transform: capitalize;
}

.results h3::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80px;
  padding-bottom: 10px;
  border-bottom: 3px solid #b73a1c;
}

.result-display {
  height: calc(100vh - 48px);
  padding: 50px 0;
}

.result-display img {
  -webkit-transition: .8s;
  transition: .8s;
  -webkit-box-shadow: 0px 0px 0px 10px #fff;
          box-shadow: 0px 0px 0px 10px #fff;
}

.result-display img:hover {
  -webkit-box-shadow: 20px 20px 0px 40px #fff;
          box-shadow: 20px 20px 0px 40px #fff;
}

.blue-bg a {
  border: 3px solid #fff;
  background: none;
  color: #151e25;
  z-index: 5;
}

.blue-bg a:hover, .blue-bg a:focus {
  color: #fff;
}

.blue-bg a:hover::before, .blue-bg a:focus::before {
  height: 0%;
}

.blue-bg a::before {
  background-color: #fff;
}

.redo-quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

footer {
  text-align: center;
}

footer p {
  color: #fff;
  padding: 10px 0;
}

.footer-main {
  background-color: #151e25;
}

.footer-flip {
  background-color: #b73a1c;
}

@media (max-width: 1200px) {
  .intro, .result-display, .questions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .explanation,
  .question-content {
    width: 90%;
  }
  h2,
  .start-link {
    text-align: center;
  }
  h2::after {
    margin: 0 auto;
    width: 100px;
  }
  .intro img {
    margin: 30px auto 10px;
    width: 60%;
  }
  fieldset > .questions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .question-image {
    width: 100%;
  }
  .question-image img {
    margin: 30px auto 10px;
    width: 60%;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 6rem;
    font-weight: 700;
  }
}

@media (max-width: 800px) {
  .questions h3 {
    text-align: center;
  }
  .questions h3::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80px;
    padding-bottom: 10px;
    border-bottom: 5px solid #b73a1c;
  }
  .red-bg h3::after {
    border-bottom: 5px solid #151e25;
  }
  .question-links {
    text-align: center;
  }
  ul {
    padding: 20px 0;
  }
  ul li {
    margin: 20px 0;
  }
  .impact-text,
  label {
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .impact-text::before,
  label::before {
    left: 0;
  }
  .impact-text,
  label::before {
    font-size: 4rem;
    font-weight: 900;
  }
  .dash-hide {
    display: none;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 4rem;
    font-weight: 700;
  }
}
